@font-face {
    font-family:"STARWARS";
    src:url("../fonts/STARWARS.eot") format("eot"),url("../fonts/STARWARS.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Ford Antenna';
    src: url('../fonts/FordAntenna-Regular.eot') format("eot"),url('../fonts/FordAntenna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aniron";
    src: url('../fonts/Aniron-7BaP.eot') format("eot"),url('../fonts/Aniron-7BaP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RingbearerMedium";
    src: url('../fonts/RingbearerMedium-w173.eot') format("eot"),url('../fonts/RingbearerMedium-w173.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ford Heavy';
    src: url('Ford-HeavyExt.eot'),url('Ford-HeavyExt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-family: 'RingbearerMedium';
    font-size: 3rem;
    color: rgb(113, 148, 137);
}

h2 {
    text-transform: uppercase;
    font-family: 'Ford Heavy', Arial, Helvetica;
    color: #262626;
    font-size: 1.75rem;
    line-height: 35px;
}

h3 {
    font-family: 'Ford Antenna';
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: #FFF;
}

h4 {
    font-family: 'Ford Heavy', Arial, Helvetica;
    color: #262626;
    font-size: 1.75rem;
    line-height: 35px;
}

p, li, aside {
    font-family: 'Ford Antenna';
    font-size: 1.2rem;
    line-height: 30px;
}

p, li {
    color: #4d4d4d;
}

li {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.highlight-text {
    color: white;
}

.event-detail-header {
    margin-bottom: 0;
    padding: 0;
}

.agenda-header,
.location-text {
    color: #FFF;
}

#timer {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    line-height: 9rem;
    margin-top: 9vh;
}

#hacker-text {
    font-family: 'Courier New', Courier, monospace
}

#made-with-love {
    color: #FFF;
    margin-top: 1.5rem;
    font-size: 1rem;
}
